.container {
 
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;

    img { 
        width: 25rem;
        border-radius: 50%;
        margin: 2rem;
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 30rem;
        padding: 1.5rem;

        
        .boxContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .codeItem {
                padding: 2rem;
                font-weight: 300;
                color: #fff;
                width: 24rem;
                height: 10rem;
                align-self: flex-start;
                transition: 1s !important;
                background: var(--gradient);



                @media (max-width: 1450px) {
                    width: 18rem;
                    padding: 1.5rem;
                    font-size: 0.8rem;
                }

                @media (max-width: 1000px) {
                    width: 100%;
                  }

                

                .comment {
                    color: var(--text);
                }

                .obj {
                    color: greenyellow;
                }

                .string {
                    color: rgb(255, 238, 0);
                }

                .blue {
                    color: rgb(0, 225, 255);
                    
                }

                .darkblue {
                    color: rgb(109, 7, 192);
                }
                
                
              
                cursor: pointer;

                &:hover {
                    background: #0ee7b860;
                    color: var(--white);
                }

                &:last-child {
                    align-self: flex-end;
                  }

                

                

            }

        }
    }
}