* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--cyan-500);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track{
    background: var(--cyan-500);
  }
}

:root {
  --white: #fff;
  --grey-100: #bdbdbd;
  --grey-300: #757575;
  --grey-400: #616161;
  --grey-500: #1F2729;
  --grey-900: #151414;
  
  --cyan-500: #06cae4;
  --yellow-500: #eba417;
}


html {
  min-width: 380px;
  @media (max-width: 1080px) {
      font-size: 93.75%;
  }
 
}

body {
  background: var(--grey-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "JetBrains Mono", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}