* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(143, 133, 133);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track{
    background: var(--cyan-500);
  }
}

:root {
  --background: #11172B;
  --input-background: #1B2138;
  --textHighlight: #444B5B;
  --backgroundLight: #1B2138;
  --primary: #0ee7b7;
  --secondary: #7AC7E3;
  --gradient: linear-gradient(225deg, #313860 0%, #11172B 100%);
  --text: #848DA0;
  --textHighlight: #444B5B;
  --textLight: #C4C4C4;
  --border: #5c658a;
  --error: #d45d5d;
}


html {
  min-width: 380px;
  @media (max-width: 1080px) {
      font-size: 93.75%;
  }
 
}

body {
  background: var(--background);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "JetBrains Mono", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}