.headerContainer {
    height: 3rem;
    border-bottom: 1px solid var(--border);
    background: var(--background);
    top: 0;
    width: 100%;
    height: 42px;
    z-index: 100;
    
    

    @media (max-width: 1213px) {
        display: none;
    }


    .headerContent {

        height: 1rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
   

        nav {
            height: 3rem;
            a {
                display: inline-block;
                position: relative;
                height: 5rem;
                line-height: 5rem;
                color: var(--primary);
                transition: 0.5s;
                text-transform: uppercase;
                font-size: .8rem;

                &:hover {
                    color: var(--textHighlight)
                }

                &+a {
                    margin: 0 2.8rem;
                }



                &.active {
                    color: var(--textLight);
                    font-weight: bold;
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    border-radius: 3px 3px 0 0;
                    bottom: 22px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--text);
                }

            }

        }
    }
}