.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--grey-300);  
    
    // @media (max-width: 768px) {
    //     display: none;
    // }
    
}
.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    align-items: center;
    position: relative;

    
   
}